:root {
  --sea-green: rgba(46, 125, 50, 1);
  --lightgreen: rgba(233, 242, 233, 1);
  --semantic-button-font-family: "Inter", Helvetica;
  --semantic-button-font-weight: 400;
  --semantic-button-font-size: 15.399999618530273px;
  --semantic-button-letter-spacing: 0px;
  --semantic-button-line-height: normal;
  --semantic-button-font-style: normal;
  --semantic-heading-1-font-family: "Inter", Helvetica;
  --semantic-heading-1-font-weight: 700;
  --semantic-heading-1-font-size: 47.099998474121094px;
  --semantic-heading-1-letter-spacing: 0px;
  --semantic-heading-1-line-height: normal;
  --semantic-heading-1-font-style: normal;
  --semantic-heading-2-font-family: "Inter", Helvetica;
  --semantic-heading-2-font-weight: 700;
  --semantic-heading-2-font-size: 35px;
  --semantic-heading-2-letter-spacing: 0px;
  --semantic-heading-2-line-height: normal;
  --semantic-heading-2-font-style: normal;
  --semantic-heading-3-font-family: "Inter", Helvetica;
  --semantic-heading-3-font-weight: 700;
  --semantic-heading-3-font-size: 26.600000381469727px;
  --semantic-heading-3-letter-spacing: 0px;
  --semantic-heading-3-line-height: normal;
  --semantic-heading-3-font-style: normal;
  --semantic-input-font-family: "Inter", Helvetica;
  --semantic-input-font-weight: 400;
  --semantic-input-font-size: 12.800000190734863px;
  --semantic-input-letter-spacing: 0px;
  --semantic-input-line-height: normal;
  --semantic-input-font-style: normal;
  --semantic-label-font-family: "Inter", Helvetica;
  --semantic-label-font-weight: 700;
  --semantic-label-font-size: 16px;
  --semantic-label-letter-spacing: 0px;
  --semantic-label-line-height: normal;
  --semantic-label-font-style: normal;
  --semantic-link-font-family: "Inter", Helvetica;
  --semantic-link-font-weight: 500;
  --semantic-link-font-size: 16px;
  --semantic-link-letter-spacing: 0px;
  --semantic-link-line-height: normal;
  --semantic-link-font-style: normal;
  --font-awesome-5-free-solid-font-family: "Font Awesome 5 Free", Helvetica;
  --font-awesome-5-free-solid-font-weight: 400;
  --font-awesome-5-free-solid-font-size: 16px;
  --font-awesome-5-free-solid-letter-spacing: 0px;
  --font-awesome-5-free-solid-line-height: 16px;
  --font-awesome-5-free-solid-font-style: normal;
  --inter-regular-font-family: "Inter", Helvetica;
  --inter-regular-font-weight: 400;
  --inter-regular-font-size: 13px;
  --inter-regular-letter-spacing: 0px;
  --inter-regular-line-height: normal;
  --inter-regular-font-style: normal;
  --inter-bold-font-family: "Inter", Helvetica;
  --inter-bold-font-weight: 700;
  --inter-bold-font-size: 28px;
  --inter-bold-letter-spacing: 0px;
  --inter-bold-line-height: normal;
  --inter-bold-font-style: normal;
}
